<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <style>
    	body {
            background-image: url(static/bg1.jpg);
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        h1 {
        	color: white;
        }
        p {
        	color: white;
        }
    </style>
</head>
<body>
    <h1>An error occurred</h1>
    <p>{{ error_message }}</p>
</body>
</html>



